/* Universal Selector Definition */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
 }
 
 /* Sets the background colour for the entire body section */
 body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }
 
 /* The overall style for the header class
 provides its padding, font family, color and background color */
 header {
    display: flex;
    flex-direction: row;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: rgb(49, 52, 61);
 }
 
 header h1{
    position: relative;
    width: 30%;
    left: -20px;
    text-align: right;
    color: rgb(49, 52, 61);
    background-color: cadetblue;
    font-size: 50px;
    font-weight: bold;
    padding: 10px;
 }
 
 header nav {
    width: 70%;
    
 }
 
 header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
    height: 100%;
 
 }
 
 .nav-menu {
    padding: 10px;
    text-align: center;
    color: cadetblue;
    font-size: 30px;
    font-weight: bold;
    height: 100%;
    position: relative;
    top: 50%;
 }
 
 .block-background {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../Images/Background.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
 }
 
 .sub-title {
    padding: 10px 20px 10px 20px ;
    color: rgb(49, 52, 61);
    background-color: cadetblue;
    width:fit-content;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 15px;
 }

 .body-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 15px;
 }

 .body-left {
    width: 30%;
    border-right: 3px solid;
    border-color: rgb(26, 23, 112);
 }

 .body-left-content {
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    color: rgb(26, 23, 112);
    text-align: right;

 }
 .body-right-content {
    width: 75%;
    padding: 10px;
    font-size: 20px;
    color: rgb(26, 23, 112);

 }

 .nav-menu:hover {
    text-shadow: 4px 4px 14px cadetblue;
    font-size: 30px;
    transition: 0.3s ease-in-out;

 }
 .nav-menu:active {
    text-shadow: 2px 2px 10px cadetblue;
    font-size: 30px;

 }

 .work-flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;  
 }

 .work-flex-item-major{
    flex: 0 0 100%;
    padding: 0px 5px 5px 5px;
    /* Negative margin to adjust for relative position change of headings div
    Even though the heading position is adjusted to be inside the picture the space 
    that it originated is left as empty space, this reduction in margin adjusts for this */
    margin-bottom: -50px;
 }

 .work-flex-item-major .major-img-container {
   border: cadetblue solid;
    border-width: 9px;
    /* removes gap at bottom of image because of container div line height */
    line-height: 0;
 }

 .work-flex-item-major .major-img-container img {
    width: 100%;
    height: auto;
    filter: grayscale(70%);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
 }

 .work-flex-item-major div img:hover {
    filter: grayscale(0%);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
 }

 .work-flex-item-major .major-headings {
    position: relative;
    bottom: 100px;
    left: 9px;
    background-color: cadetblue;
    border: cadetblue solid;
    border-width: 10px;
    padding: 0px 10px 0px 10px;
    width: fit-content;
    line-height: 80%;
 }

 .work-flex-item-major .major-headings .image-header {
    font-size: 22px;
    font-weight: bold;
 }

 .work-flex-item-major .major-headings .image-skills {
    font-size: 13px;
 }

 .work-flex-item-minor{
    flex: 0 0 50%;
    padding: 0px 5px 5px 5px;
    /* Negative margin to adjust for relative position change of headings div
   Even though the heading position is adjusted to be inside the picture the space 
   that it originated is left as empty space, this reduction in margin adjusts for this */
    margin-bottom: -50px;
 }

 .work-flex-item-minor .minor-img-container {
   border: cadetblue solid;
   border-width: 9px;
   /* removes gap at bottom of image because of container div line height */
   line-height: 0;
}

.work-flex-item-minor div img {
   width: 100%;
   height: auto;
   filter: grayscale(70%);
   -webkit-transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;
   -o-transition: all 0.3s ease-out;
   -ms-transition: all 0.3s ease-out;
   transition: all 0.3s ease-out;
}

.work-flex-item-minor div img:hover {
   filter: grayscale(0%);
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   -o-transition: all 0.3s;
   -ms-transition: all 0.3s;
   transition: all 0.3s;
}

.work-flex-item-minor .minor-headings {
   position: relative;
   bottom: 100px;
   left: 9px;
   background-color: cadetblue;
   border: cadetblue solid;
   border-width: 10px;
   padding: 0px 10px 0px 10px;
   width: fit-content;
   line-height: 80%;
}

 .work-flex-item-minor .minor-headings .image-header {
    font-size: 17px;
    font-weight: bold;
 }

 .work-flex-item-minor .minor-headings .image-skills {
    font-size: 11px;
 }

 @media screen and (max-width: 768px) {
    header, header nav ul {
        flex-direction: column;
    }
    .nav-menu {
        display: inline-block; 
        position: relative;
        width: 100%;
        text-align: center;
        vertical-align: middle;
 
    }
    .work-flexbox{
        flex-direction: column;
    }
    .block-background {
        height: 150px;
    }
    .sub-title {
        font-size: 20px;
    }
    header h1{
        font-size: 30px;
    }
    .nav-menu {
        font-size: 20px;
    }
 
    header nav, header h1 {
        width: 100%;
    }

    .work-flex-item-minor{
       flex: 0 0 100%;
    }

    .work-flex-item-minor .minor-headings .image-header, .work-flex-item-major .major-headings .image-header {
      font-size: 10px;
      font-weight: bold;
   }
  
   .work-flex-item-minor .minor-headings .image-skills, .work-flex-item-major .major-headings .image-skills {
      font-size: 07px;
   }

   .work-flex-item-minor .minor-headings, .work-flex-item-major .major-headings {
      bottom: 80px;
      padding: 0px 5px 0px 5px;
      line-height: 50%;
   }
 }